
.pagenavigation{
    padding-top:20px;
    padding-bottom:40px;
    display: flex;
}
.pagenavigation .page-button-selector{
    margin-left: 15px;
}
/*Delete button Style*/
.pagenavigation .remove-selected{
    margin: 0px auto;
    background-color: #000;
    border-radius: 25px;
    color: #fff;
    padding: 10px 50px;
}
.pagenavigation .remove-selected:hover{
    background-color: red;
}
/* Gray background color for selected row or rows */
.selected-row {
    background-color: #6663633a; 
  }

.pagination-section{
    display: flex;
    width: 50%;
    margin: 0 auto;
}
.pagination-section .first-page, .previous-page, .current-page, .last-page, .next-page{
    border: 1px solid gray;
    border-radius: 25px ;
    padding: 10px 17px;
    margin: 0 10px;
}
/* style for if pagination button is clicked*/
.grey-bg{
    border-color: rgb(8, 96, 179) ;
    background-color: #fff;
}
/* style for if pagination button is not clicked*/
.blue-bg{
    background-color: rgb(87, 166, 240);
}


/* this style for in max-width:900px*/
@media(max-width:900px){
    .pagenavigation{
       display: block !important;
    }
    .pagenavigation .page-button-selector{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .pagenavigation .pagination-section{
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }
    .pagination-section .first-page, .previous-page, .current-page, .last-page, .next-page{
        border-radius: 25px ;
        padding: 5px 13px;
        margin: 0 5px;
    }
}